/* Nikita Kouevda, Anthony Sutardja */
/* 2013/06/28 */

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica', 'Arial', 'Sans';
  background-color: #ddd;
}

#container {
  width: 960px;
  min-height: 100%;
  overflow: hidden;
  background-color: #444;
  margin: 0 auto;
}

.center-outer {
  clear: both;
  position: relative;
  float: left;
  left: 50%;
}

.center-inner {
  clear: both;
  position: relative;
  float: left;
  left: -50%;
}

header, footer {
  clear: both;
  text-align: center;
  padding: 50px 0;
}

h1 {
  color: #fff;
  font-family: 'Helvetica Neue';
  font-size: 2em;
  text-shadow: 2px 2px #111;
}

.subtitle {
  color: #ddd;
  font-family: 'Helvetica Neue';
  font-size: 1em;
  text-shadow: 1px 1px #111;
  margin: 30px 0 0 0;
}

.subtitle a {
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px dashed #ddd;
}

.subtitle a:hover {
  border-bottom: 1px solid #ddd;
}

.separator {
  margin: 0 10px;
}

#content {
  clear: both;
}

table {
  text-align: center;
}

th {
  background-color: #999;
  padding: 15px 45px;
}

th a {
  color: #111;
  text-decoration: none;
}

th img {
  padding-left: 10px;
}

td {
  padding: 10px 30px;
}

/* Dark green for even online */
.server-online:nth-child(even) {
  background-color: #2a2;
}

/* Light green for odd online */
.server-online:nth-child(odd) {
  background-color: #3b3;
}

/* Dark red for even offline */
.server-offline:nth-child(even) {
  background-color: #a22;
}

/* Light red for odd offline */
.server-offline:nth-child(odd) {
  background-color: #b33;
}

/* Round top left on header row */
th:first-child {
  -webkit-border-top-left-radius: 8px;
     -moz-border-top-left-radius: 8px;
      -ms-border-top-left-radius: 8px;
       -o-border-top-left-radius: 8px;
          border-top-left-radius: 8px;
}

/* Round top right on header row */
th:last-child {
  -webkit-border-top-right-radius: 8px;
     -moz-border-top-right-radius: 8px;
      -ms-border-top-right-radius: 8px;
       -o-border-top-right-radius: 8px;
          border-top-right-radius: 8px;
}

/* Round bottom left on last row */
tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 8px;
     -moz-border-bottom-left-radius: 8px;
      -ms-border-bottom-left-radius: 8px;
       -o-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px;
}

/* Round bottom right on last row */
tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 8px;
     -moz-border-bottom-right-radius: 8px;
      -ms-border-bottom-right-radius: 8px;
       -o-border-bottom-right-radius: 8px;
          border-bottom-right-radius: 8px;
}
