/* Nikita Kouevda, Anthony Sutardja */
/* 2013/07/17 */

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: #dddddd;
}

#container {
  width: 960px;
  background-color: #444444;
  margin: 0 auto;
}

#site-header, #site-footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.site-header-title {
  font-size: 2em;
  color: #ffffff;
  text-shadow: 2px 2px #111111;
}

.site-header-subtitle {
  font-size: 1em;
  font-style: italic;
  color: #dddddd;
  text-shadow: 1px 1px #111111;
  margin-top: 30px;
}

.site-footer-link, .separator {
  font-size: 1.5em;
  color: #dddddd;
  text-shadow: 1px 1px #111111;
}

.site-footer-link {
  text-decoration: none;
  border-bottom: 1px dashed #dddddd;
}

.site-footer-link:hover {
  border-bottom-style: solid;
}

.separator {
  margin-left: 10px;
  margin-right: 10px;
}

table {
  text-align: center;
  margin: 0 auto;
}

th {
  background-color: #999999;
  padding: 15px 45px;
}

th > a {
  color: #111111;
  text-decoration: none;
}

th > a > img {
  padding-left: 10px;
}

td {
  padding: 10px 30px;
}

.server-online:nth-child(even) {
  background-color: #22aa22;
}

.server-online:nth-child(odd) {
  background-color: #33bb33;
}

.server-offline:nth-child(even) {
  background-color: #aa2222;
}

.server-offline:nth-child(odd) {
  background-color: #bb3333;
}

th:first-child {
  -webkit-border-top-left-radius: 8px;
     -moz-border-top-left-radius: 8px;
      -ms-border-top-left-radius: 8px;
       -o-border-top-left-radius: 8px;
          border-top-left-radius: 8px;
}

th:last-child {
  -webkit-border-top-right-radius: 8px;
     -moz-border-top-right-radius: 8px;
      -ms-border-top-right-radius: 8px;
       -o-border-top-right-radius: 8px;
          border-top-right-radius: 8px;
}

tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 8px;
     -moz-border-bottom-left-radius: 8px;
      -ms-border-bottom-left-radius: 8px;
       -o-border-bottom-left-radius: 8px;
          border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 8px;
     -moz-border-bottom-right-radius: 8px;
      -ms-border-bottom-right-radius: 8px;
       -o-border-bottom-right-radius: 8px;
          border-bottom-right-radius: 8px;
}
